/*NR strap*/
.flex-row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}
.flex-row > * {
  box-sizing: border-box;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

/*.item-5 {
    width: 20%;
}
*/
.item-4 {
    display: grid;
    margin: 0!important;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}


@media (max-width: 600px) {
    .item-5 {
        flex: 0 0 auto;
        width: 50%;
    }
}


@media (min-width: 576px) {
    .item-5 {
        flex: 0 0 auto;
        width: 50%;
    }

}

@media (min-width: 768px) {
    .item-5 {
        flex: 0 0 auto;
        width: 33.333333333%;
    }

}

@media (min-width: 992px) {
    .item-5 {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (min-width: 1200px) {
    .item-5 {
        width: 20%;
    }

}

@media (min-width: 1400px) {
    .item-5 {
        flex: 0 0 auto;
        width: 20%;
    }

}


/*product gird System*/

@media (max-width: 600px) {
    .product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .item-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}


@media (min-width: 576px) {
    .product {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .item-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-2 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .banner-3 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 768px) {
    .product {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .item-4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .product {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .item-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .banner-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .product {
        grid-template-columns: repeat(5, 1fr);
    }
    .item-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .banner-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1400px) {
    .product {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
    .item-4 {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .banner-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-3 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}




/*page responsive system*/

@media (min-width: 576px) {

}

@media (min-width: 768px) {


}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1400px) {

}
