@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;700&display=swap');

:root {
    --main-color: #61CE70;
    --font-color: #7A7A7A;
}

.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}


.text-main {
    color: var(--main-color);
}

.section-heading {
    padding: 5px 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
}

/*h3*/
.section-title {
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    color: rgb(41, 41, 41);
}


/*a*/
.section-sub-title {
    font-family: Roboto Slab, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;
    color: #7A7A7A;;
    transition: all .3s ease;
    padding: 11px 0;
    border-bottom: 2px solid transparent;
    

}

.section-sub-title:hover,
.section-sub-title.active {
    color: rgb(44, 44, 44);
    border-bottom: 2px solid #61CE70;
    
}

.product-title {
    line-height: 1.4em;
    white-space: normal;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-weight: 600;
    font-size: 15px!important;
    text-decoration: none;
}

